@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root {
    /* primary color */
    --desaturated-dark-cyan: hsl(180, 29%, 50%);
    --desaturated-dark-cyan-shadow: hsla(180, 29%, 50%, 0.5);

    /* neutral color */
    --light-grayish-cyan-background: hsl(180, 52%, 96%); /* background */
    --light-grayish-cyan-filter: hsl(180, 31%, 95%); /* filter tablets */
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    font-size: 15px;
}